name: CI
on:
  push:
  pull_request:

jobs:
  lint_and_tests_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v1
        with:
          version: master
      - name: Install kcov
        run: sudo apt-get install kcov -y
      - name: Run tests with coverage report
        run: zig build test --summary all -Dreport-coverage
  lint_and_tests:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v1
        with:
          version: master
      # - run: zig fmt --check src
      - name: Run tests
        run: zig build test --summary all
